<div class="row">
  <div class="col-md-9">
    <h1 class="title"><%= t('page.new', model: t('activerecord.models.message')) -%></h1>
    <fieldset>

      <%= simple_form_for(@message, url: messages_path, validate: true) do |f| -%>
        <%= f.error_messages -%>

        <div class="form-group">
          <label for="message_recepient"><%= t('message.recipient') -%>:</label>
          <%- if @message.receiver -%>
            <%= link_to @message.receiver.username, profile_path(@message.receiver) -%>
            <%= f.hidden_field :recipient, value: @message.recipient -%>
          <%- else -%>
            <%= f.text_field :recipient, class: 'resource_title', value: @message.recipient -%>
          <%- end -%>
        </div>

        <div class="form-group">
          <%= f.label :subject -%>:
          <%= f.text_field :subject, class: 'form-control' -%>
        </div>

        <div class="form-group">
          <%= f.label :body -%>:<br />
          <%= f.text_area :body, id: 'message_body', class: 'form-control' -%>
        </div>

        <div class="form-group">
          <%= f.hidden_field :parent_id -%>
          <%= f.submit t('message.send') -%>
        </div>
      <%- end -%>
    </fieldset>
  </div>

  <div class="col">
    <div class="card card-body">
      <ul>
        <li><%= link_to t('page.listing', model: t('activerecord.models.message')), messages_path -%></li>
      </ul>
    </div>
  </div>
</div>
